ci:
  skip: [pytest]

default_language_version:
  python: python3.8

repos:
  # ruff: linting + formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.4
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  # pytest: testing
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: poetry run pytest
        language: system
        types: [python]
        pass_filenames: false

  # enforce conventional commit messages
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.2.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: []

  # # skip poetry check for now, it's large and slow
  # # poetry: check lock and generate requirements.txt
  # - repo: https://github.com/python-poetry/poetry
  #   rev: 1.8.3
  #   hooks:
  #   - id: poetry-check
  #     args: ["--lock"]
  #   - id: poetry-export
  #     args: ["-f", "requirements.txt", "--with", "build", "--output", "requirements.txt"]
  #     verbose: true
